@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
*:not(.circles) {
  z-index: 10;
}
body {
  font-family: "Lato", sans-serif;
  color: #c5eff7;
  background: #070f2b;
}

.NameLogo {
  font-size: 1.7rem;
  width: fit-content;
  cursor: pointer;
  position: relative;
  top: 10px;
  left: 16px;
}
.logoGitHub {
  font-size: 1.7rem;
  color: #c5eff7;
  float: right;
  position: relative;
  top: -20px;
  left: -13px;
  cursor: pointer;
}

/* Sections */

/* About Me */

.sectionAboutMe {
  margin: 3rem 1rem;
}
.titleAboutMe {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.paragraphAboutMe {
  line-height: 1.5rem;
}
/* Projets */

.titleMainSectionProject {
  position: relative;
  left: 1rem;
  font-size: 1.2rem;
  width: fit-content;
}
.sectionProjet {
  margin: 3rem 1rem;
  width: fit-content;
}
.titleProject {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.sliderImage {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carouselImage {
  display: flex;
  width: 300%;
  height: 200%;
  transition: transform 0.4s ease-in-out;
}
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #264653;
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.btn.prev {
  left: 10px;
}

.btn.next {
  right: 10px;
}

.btn:hover {
  opacity: 1;
}
.fa-circle {
  position: relative;
  left: 40%;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
.projetImage {
  width: 60%;
}
.paragraphProject {
  line-height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.listeProjet {
  margin-left: 1rem;
}
.horizontalLine {
  margin-top: 1rem;
  margin-left: 0.5rem;
  width: 90%;
}

/* circles animations */

.circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.6);
  animation: animate 25s linear infinite;
  bottom: 0;
  border-radius: 100%;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 60%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 30s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 20s;
}
.circles li:nth-child(11) {
  left: 55%;
  width: 60px;
  height: 60px;
  animation-delay: 1s;
  animation-duration: 13s;
}
.circles li:nth-child(12) {
  left: 5%;
  width: 100px;
  height: 100px;
  animation-delay: 9s;
  animation-duration: 25s;
}
.circles li:nth-child(13) {
  left: 25%;
  width: 120px;
  height: 120px;
  animation-delay: 2s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

/* Portable */
@media (min-width: 370px) {
  .sliderImage {
    transform: translateX(-$ {(currentImg - 1) * 80}vw);
  }
}

/* Tablette */
@media (min-width: 600px) {
  .sliderImage {
    width: 40%;
    height: 30%;
    float: left;
  }
  .fa-circle {
    left: 39%;
  }
  .divTextProject {
    float: right;
    width: 55%;
  }
}
/* large */
@media (min-width: 933px) {
  .sliderImage {
    width: 35%;
  }
  .divTextProject {
    width: 60%;
  }
}
/* extra large */
@media (min-width: 1127px) {
  .sliderImage {
    width: 30%;
  }
  .divTextProject {
    width: 65%;
  }
  .horizontalLine {
    width:80%;
  }
  body {
    margin: 1rem;
  }
}

@media (max-width: 480px) {
  .circles {
    display: none;
  }
}
